@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #f4f4f4;
  --bg-secondary: #cfd1d3;
  --text-primary: #000028;
  --text-secondary: #00183b;
  --bg-accent: #00183b;

}

body {
  font-family: 'Instrument Sans';
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

nav {
  border-bottom: 1px solid #cfd1d3;
  margin: auto 0;
}

.logo {
  height: 40px;
  margin-right: 5px;
}

.logo-brand {
  text-decoration: none;
  color: #000028;
}

.row.searchbar {
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px 5px;
  color: #75787a;
  font-style: italic;
  cursor: pointer;
}

.row.searchbar:hover {
  background-color: #dbdcdfe8;
}

.button {
  font-family: 'Instrument Sans';
  padding: 10px 20px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--bg-accent);
  color: var(--bg-primary);
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.button-type {
  background-color: var(--bg-secondary);
  border: 1px solid var(--text-primary);
  color: var(--text-primary);
}

.button-type-active {
  background-color: var(--bg-accent);
  color: var(--bg-primary);
}

.button:active {
  transform: scale(0.95);
  opacity: 0.9;
}

.card {
  border: 1px solid var(--bg-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
}

.card-img {
  width: 100%;
  border-radius: 0.5rem;
  padding-bottom: 10px;
}

.button-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-link:hover {
  text-decoration: underline;
}

.searchbar {
  border-radius: 2rem;
  border: none;
}

.search-modal-overlay {
  background-color: #000000cc;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
}

.search-modal {
  max-width: 425px;
  min-width: 100%;
  height: max-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
}

.search-modal input,
.search-modal button {
  font-family: 'Instrument Sans';
}

.input-number button {
  font-family: 'Instrument Sans';
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.input-number button:hover {
  opacity: .8;
}

.accordion-type {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.heart-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  color: red;
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.heart-button:hover {
  transform: scale(1.2);
}

.swiper-likes-section {
  position: relative;
  width: 100%;
}

.heart-button:active {
  transform: scale(0.95);
  opacity: 0.9;
}


@media screen and (min-width: 425px) {
  .search-modal {
    min-width: 425px;
  }
}