@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary: #f4f4f4;
  --bg-secondary: #cfd1d3;
  --text-primary: #000028;
  --text-secondary: #00183b;
  --bg-accent: #00183b;

}

body {
  font-family: 'Instrument Sans';
  color: var(--text-primary);
  background-color: var(--bg-primary);
}

nav {
  /* border-bottom: 1px solid #cfd1d3; */
  margin: auto 0;
  padding: 0.5rem 0.8rem;
}

h4 {
  color: #75787a;
}

.px-6 {
  padding-inline: 5.5rem;
}

.justify-self-end {
  justify-self: end;
}

.cursor-pointer {
  cursor: pointer;
}

.max-w-md {
  max-width: 523px;
}

.align-self-start {
  align-self: self-start;
}

.img-fluid {
  width: 100%;
}

.logo {
  height: 40px;
  margin-right: 5px;
}

.logo-brand {
  text-decoration: none;
  color: #000028;
}

.btn-type {
  border: none;
  background: var(--bg-primary);
  color: var(--text-primary);
  cursor: pointer;
  font-family: 'Instrument Sans'
}

.btn-type:active {
  transform: scale(0.95) !important;
}

.btn-type:hover {
  transform: scale(1.05);
}

.type-logo {
  max-width: 50px;
}

.types-menu {
  border-bottom: 1px solid var(--bg-secondary);
  padding-bottom: 20px;
}

.search-container {
  position: relative;
}

.close-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 8px;
}

.searchbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: var(--text-primary);
  font-style: italic;
  cursor: pointer;
  border-radius: 2rem;
  border: 1px solid #0000005b;
}

.searchbar:focus {
  outline: none;
}

.searchbar:hover {
  cursor: text;
}


.lente-ricerca {
  background: var(--bg-accent);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--bg-primary);
}

.lente-ricerca:hover {
  background: var(--bg-accent);
  transform: scale(1.1);
  transition: transform 0.1s ease;
  cursor: pointer;
}

.lente-ricerca:active {
  transform: scale(0.9);
}

.button {
  font-family: 'Instrument Sans';
  padding: 10px 20px;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--bg-accent);
  color: var(--bg-primary);
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}


.button:active {
  transform: scale(0.95) !important;
  opacity: 0.9;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.input-number-button:active {
  background-color: var(--bg-accent);
  color: var(--bg-primary);
  transition: background-color 0.1s linear;
}

.card {
  border: 1px solid var(--bg-secondary);
  padding: 1rem;
  border-radius: 0.5rem;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card-img {
  width: 100%;
  border-radius: 0.5rem;
  padding-bottom: 10px;
  aspect-ratio: 1;
  object-fit: cover;
}

.card-title {
  color: var(--text-primary);
}

.button-link {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-link:hover {
  text-decoration: underline;
}



/*SLIDER*/

.swiper-button-next::after,
.swiper-button-prev::after {
  color: transparent !important;
  font-size: 10px !important;
  font-weight: bolder;
}


.custom-next,
.custom-prev {
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.1s ease;
  border-radius: 50%;
  width: 30px !important;
  height: 30px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.10) !important;

}

.swiper-button-next:active,
.swiper-button-prev:active {
  transform: scale(0.9) !important;
}

.card:hover .swiper-button-next,
.card:hover .swiper-button-prev {
  background-color: var(--bg-primary);
}

.card:hover .swiper-button-next::after,
.card:hover .swiper-button-prev::after {
  color: var(--bg-accent) !important;
}


/*======*/


.search-modal-overlay {
  background-color: #0000006e;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.search-modal {
  max-width: 425px;
  min-width: 100%;
  height: max-content;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.search-modal-heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.search-page-main-text {
  justify-self: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 4;
}

.search-page-heading {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
}

.search-page-heading.total-results {
  grid-area: 1 / 1 / 2 / 2
}

.search-modal input,
.search-modal button {
  font-family: 'Instrument Sans';
}

.input-number button {
  font-family: 'Instrument Sans';
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.input-number button:hover {
  opacity: .8;
}

.accordion-type {
  display: flex;
  column-gap: 1rem;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.heart-button {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 25px;
  color: red;
  background-color: transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
  border: none;
  transition: transform 0.3s ease-in-out;
}

.heart-button:hover {
  transform: scale(1.2);
}

.swiper-likes-section {
  position: relative;
  width: 100%;
}

.heart-button:active {
  transform: scale(0.95);
  opacity: 0.9;
}

.search-page-heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.button-filter {
  font-family: 'Instrument Sans';
  font-size: 1rem;
  width: max-content;
  padding: 10px 1rem;
  border-radius: 3rem;
  height: min-content;
  cursor: pointer;
  background: transparent;
  border: none;
  border: 1px solid var(--bg-secondary);
  transition: border 0.1s linear;
  justify-self: end;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}

.button-filter:hover {
  border: 1px solid var(--bg-accent);
}

.form-property {
  margin: 1rem 0;
}

.input-property {
  width: 100%;
  font-family: 'Instrument Sans';
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid var(--bg-secondary);
  margin-top: 0.3rem;
}

label[for^="input-property"] {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #013f7e;
  border-radius: 5px;
  border: 2px solid white;
}

::-webkit-scrollbar-thumb:hover {
  background: #002244;
}


@media screen and (min-width: 426px) {
  .search-modal {
    min-width: 425px;
  }

  .search-page-heading {
    grid-template-rows: 1fr;
  }

  .search-page-main-text {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.footer-links {
  flex-direction: column;
  row-gap: 0.8rem;
}

@media screen and (min-width: 530px) {
  .footer-links {
    flex-direction: row;
  }
}